<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

	<substitutionProperty name="dmsd.itoo" value="D:/log" />
    <appender name="info" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${dmsd.itoo}/dmsd.itoo.log</File>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{0} - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${dmsd.itoo}/dmsd.itoo.%d{yyyy-MM-dd}.log</FileNamePattern>
        </rollingPolicy>
    </appender>
    
    <!-- Error Level -->
	<appender name="error" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${dmsd.itoo}/dmsd.itoo_error.log</File>
		 <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder"> 
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符--> 
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %logger{0} - %msg%n</pattern>   
            <charset>UTF-8</charset>
        </encoder> 
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>ERROR</level>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${dmsd.itoo}/dmsd.itoo_error.%d{yyyy-MM-dd}.log</FileNamePattern> 
		</rollingPolicy>
	</appender>
    
   <appender name="monitor" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${dmsd.itoo}/dmsd.itoo_monitor.log</File>
		 <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder"> 
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符--> 
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %logger{0} - %msg%n</pattern>   
            <charset>UTF-8</charset>
        </encoder> 
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${dmsd.itoo}/dmsd.itoo_monitor.%d{yyyy-MM-dd}.log</FileNamePattern> 
		</rollingPolicy>
	</appender>
    
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<File>${dmsd.itoo}/dmsd.itoo_monitor.log</File>
		 <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder"> 
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符--> 
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %logger{0} - %msg%n</pattern>   
            <charset>UTF-8</charset>
        </encoder> 
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${dmsd.itoo}/dmsd.itoo_monitor.%d{yyyy-MM-dd}.log</FileNamePattern> 
		</rollingPolicy>
	</appender>
    
    <root level="DEBUG">
        <appender-ref ref="info" />
        <appender-ref ref="error" />
        <appender-ref ref="console"/>
    </root>
    
    <!-- 监控日志 -->
    <logger name ="monitor">
		<appender-ref ref="monitor" />
	</logger>
	
	<logger name ="java.sql" level="DEBUG">
		<appender-ref ref="info" />
		<appender-ref ref="error" />
		<appender-ref ref="console"/>
	</logger>
	
	<!-- logback 显示ibatis-sql-->
<!-- 	<logger name="com.ibatis" level="INFO" />
    <logger name="com.ibatis.common.jdbc.SimpleDataSource" level="INFO" />
    <logger name="com.ibatis.common.jdbc.ScriptRunner" level="INFO" />
    <logger name="com.ibatis.sqlmap.engine.impl.SqlMapClientDelegate" level="INFO" />
    <logger name="java.sql.Connection" level="INFO" />
    <logger name="java.sql.Statement" level="INFO" />
    <logger name="java.sql.PreparedStatement" level="INFO" /> -->

</configuration>